@import 'styles.scss';

.snackbar {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
}
.sb{
    min-width: 350px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    border-radius: 5px;
    position: fixed;
    z-index: 3;
    top: 40px;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;

    @media (max-width: $screen-common-sm2) {
        min-width: 250px;
        font-size: 0.875rem;
    }
}

.sb-error{
    background-color: $color-snackbar-error;
    color: $color-light;
}

.sb-success{
    background-color: $color-snackbar-success;
    color: $color-dark;
}

@-webkit-keyframes fadein{
    from {top: 0; opacity: 0;}
    to {top: 40px; opacity: 1;}
}

@keyframes fadein{
    from {top: 0; opacity: 0;}
    to {top: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout{
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout{
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}