<a [routerLink]="[appRoutes.COUNTRIES, country.name.common]" routerLinkActive="router-link-active">
    <div class="card-item">
        <img [src]="country.flags.png" alt="Flag" class="card-image">
        <div class="card-content">
            <h6 class="country-name">{{ country.name.common }}</h6>
            <p *ngIf="country.region"><span class="label">Region: </span>{{ country.region }}</p>
            <p *ngIf="country.capital"><span class="label">Capital: </span>{{ country.capital[0] }}</p>
        </div>
    </div>
</a>