@import '../../../../../styles.scss';

*{
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary, $font-secondary;
}

.page-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/blob-scene-haikei\ \(23\).svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    background-color: $color-light;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 1226px;
    height: auto;
    max-width: 100%;
    min-height: 480px;

    @media (max-width: 1250px) {
        width: 90%;
    }
    h1{
        color: $color-primary;
    }
    p, h1, h2{
        line-height: 8px;
        letter-spacing: 0.3px;  
    }
    p, h2, label, input, small, button{
        font-family: $font-secondary;
    }
    span{
        display: table;
        margin: 0 auto;
        font-size: $font-size-small;
        width: max-content;
        margin-top: $margin-small;

        @media (max-width: 505px) {
            font-size: 10px;
        }

        @media (max-width: 425px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .toggle-btn{
        margin-top: -20px;

        @media (max-width: 425px) {
            margin-top: -5px;
        }
    }
    a{
        color: $color-dark;
        font-size: 13px;
        text-decoration: none;
        margin: 15px 0px $margin-small;
    }
    button{
        @include buttonSize();
        background-color: $color-primary;
        color: $color-light;
        font-size: $font-size-small;
        width: 250px;
        font-weight: $font-weight-semibold;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: $margin-small;
        &:hover{
            background-color: $color-accent;
        }
        &:disabled{
            background-color: $color-border;
            color: $color-disabled-text;
            cursor: not-allowed;
        }

        @media (max-width: 505px) {
            font-size: 10px;
        }
    }
    button.app-toggle-btn{
        position: relative;
        left: 40px;
        width: auto;
        background-color: transparent;
        color: $color-primary;

        @media (max-width: 455px) {
            left: 30px;
        }

        @media (max-width: 444px) {
            left: 10px;
        }

        @media (max-width: 425px) {
            left: 0px;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        margin-left: 720px;
        height: auto;
        max-height: 506px;
        overflow-y: auto;
        overflow-x: clip;
        &::-webkit-scrollbar{
            width: 0;
            background: transparent;
        }

        @media (max-width: 1250px) {
            margin-left: 52vw;
        }

        @media (max-width: 1240px) {
            margin-left: 48vw;
        }

        @media (max-width: 1090px) {
            margin-left: 43vw;
        }

        @media (max-width: 985px) {
            margin-left: 38vw;
        }

        @media (max-width: 880px) {
            margin-left: 32vw;
        }

        @media (max-width: 780px) {
            margin-left: 28vw;
        }

        @media (max-width: 730px) {
            margin-left: 0;
        }

        @media (max-width: 425px) {
            max-height: 532px;
        }
    }
    .form-container{
        position: relative;
        padding: 50px;
        top: 0;

        @media (max-width: 425px) {
            padding: 20px;
        }
    }
    .form-input{
        margin-bottom: 16px;
        input, label{
            display: block;
        }
        input{
            padding: 8px;
            height: 35px;
            border-radius: 4px;
            width: 100%;
            border: 2px solid $color-border;
            background-color: $color-light;
        }
        input.ng-invalid.ng-touched{
            border: 2px solid $color-error;
        }
        small{
            color: $color-error;
            font-weight: $font-weight-bold;
        }
    }
    .radio-btn{
        display: flex;
        align-items: center;
        position: relative;
        width: 150px;
        margin-bottom: $margin-small;
        span {
            margin: 0;
            // margin-left: -110px;  //creating issues with radio button and text layout on mobile phone
            font-family: $font-secondary;
            font-size: 15.5px;
        }
        
    }
    .social-icons{
        margin: 20px 0;
        align-self: center;
        .icon{
            @include buttonSize();
            padding: 0px 55px;
            display: inline-flex;
            justify-content: center;
            background-color: $color-light;
            border-color: $color-icon-border;
            color: $color-icon;
            margin: 0 3px;
            width: 80px;
            transition: border-color 0.3s ease, color 0.3s ease;
            fa-icon{
                font-size: 25px;

                @media (max-width: 425px) {
                    font-size: 20px;
                }

                @media (max-width: 340px) {
                    font-size: 18px;
                }
            }
            &:hover {
                border-color: $color-accent; /* Change border color on hover */
                color: $color-accent; /* Change icon color on hover */
    
                fa-icon {
                    color: $color-accent; /* Ensure the icon color changes */
                }
            }

            @media (max-width: 1090px) {
                padding: 0px 45px;
            }

            @media (max-width: 935px) {
                padding: 0px 35px;
            }

            @media (max-width: 340px) {
                width: 60px;
            }
        }
    }
}

.left-container{
    position: absolute;
    top: 0;
    left: 0%;
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 70px 70px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1240px) {
        width: 55%;
    }

    @media (max-width: 1090px) {
        width: 50%;
    }

    @media (max-width: 985px) {
        width: 45%;
    }

    @media (max-width: 880px) {
        width: 40%;
    }

    @media (max-width: 780px) {
        width: 35%;
    }

    @media (max-width: 730px) {
        display: none;
    }
    .panel{
        background-color: $color-secondary;
        height: 100%;
        .left-panel{
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            img{
                width: 820px;
                object-position: 0 -80px;

                @media (max-width: 780px) {
                    object-position: 93px -80px;
                }
            }
        }
    }
}
